<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lnstark.lbatis.mapper.BlogMapper">
	<select id="selectBean" resultType="java.util.Map">
    	select top 10 * from hzr_river t
    	where id name like '%' + #{name, jdbcType=VARCHAR} + '%'
	</select>
	
	<select id="selectLBatisBean" resultType="java.util.Map">
    	select * from song t
    	where id = #{id, jdbcType=VARCHAR} limit 0, 10
	</select>
	
	<select id="selectSingleMapByMap" resultType="java.util.Map">
    	select * from hzr_River t
    	where name like '%' + #{name, jdbcType=VARCHAR} + '%'
	</select>
	
	<select id="selectSingleBeanByMap" resultType="lnstark.lbatis.entity.HzrRiver">
    	select top 1 id, name, grade from hzr_River t
    	where name like '%' + #{name, jdbcType=VARCHAR} + '%'
	</select>
	
	<select id="selectLBatisBeanByMap" resultType="java.util.Map">
    	select * from hzr_River t
    	where name like '%' + #{name, jdbcType=VARCHAR} + '%'
    	and id = #{id}
	</select>

	<select id="selectSongByMap" resultType="lnstark.lbatis.entity.Song">
    	select * from song t
    	where name like concat('%', #{name, jdbcType=VARCHAR}, '%')
    	and id = #{id}
	</select>
	
	<select id="selectRiverByMap" resultType="lnstark.lbatis.entity.HzrRiver">
    	select id, name, grade from hzr_River t
    	where name like '%' + #{name, jdbcType=VARCHAR} + '%'
    	<if test="id != null">
    		and id = #{id}
    	</if>
    	order by name
	</select>
</mapper>